@charset "UTF-8";

@import "normalize";
@import "variables";
@import "default";


body {
	width: 100%;
	height: 100%;
	background: white;
}

image {
  transition: opacity 1s;
  opacity: 0;
  &.loaded {
    opacity: 1;
  }
}